#home a,
ul,
li {
    text-decoration: none;
    color: white;
}

#home h1,
h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    display: inline-block;
}

#home .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

#home .btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

#home .btn .icon {
    font-size: 35px;
    color: rgb(143, 112, 19);
}

#home .btn .icon:hover {
    transition: all 200ms ease-in;
    transform: scale(1.2);
    z-index: 1;
}

#home .header {
    background: rgb(143, 112, 19);
    color: #F2F2F2;
    width: 100%;
    top: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .header .text-header {
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

#home .header .text-header h1 {
    text-align: center;
    position: fixed;
}

#home .header .btn {
    margin: 0 15px;
}

#home .header .btn .icon {
    color: white;
}

#home .open-menu-modal {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 400;
    width: 300px;
    background-color: rgb(143, 112, 19);
}

#home .open-menu-modal ul {
    margin: 0;
}

#home .open-menu-modal ul li {
    list-style: none;
    background: black;
    margin-top: 10px;
    font-size: 30px;
}

#home .overlay {
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #333;
}

#home .aside .profile-block .info-persona {
    text-align: start;
    display: flex;
    align-items: center;
    margin: 25px 20px;
}

#home .aside .profile-block .profile-user {
    border: 1px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#home .aside .profile-block .info-persona .info-name {
    margin-left: 15px;
}

#home.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#home.main .box {
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 0.5em #BFACAA;
    width: 100%;
    background: white;
}

#home.main .share-info {
    padding: 25px 15px;
}

#home.main .share-info textarea {
    border: none;
    box-shadow: 0 0 0.5em #BFACAA;
    border-radius: 5px;
    background: white;
    padding: 15px;
    width: 100%;
}

#home.main .share-info .icon-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#home.main .share-info .icon-share .btn:nth-child(2) {
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    background: rgba(245, 203, 76, 0.945);
    color: black;
}

#home.main .published-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home.main .published-content .published-name {
    background-color: rgba(245, 203, 76, 0.795);
    padding: 15px 30px;
    border-radius: 8px 8px 0 0;
    border: none;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
}

#home.main .published-content .published-comment {
    padding: 15px 0;
}

#home.main .published-content .icon-reaction {
    background: rgba(245, 203, 76, 0.945);
    border-radius: 0 0 8px 8px;
    padding: 10px 25px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #home .desktop-wrap {
        display: flex;
        justify-content: space-between;
    }
    #home .aside {
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 0.5em #BFACAA;
        height: 230px;
        margin-top: 10px;
        width: 40%;
    }
    #home .aside .profile-block {
        display: flex;
        flex-direction: column;
    }
    #home .aside .profile-block .info-persona {
        margin: 0 20px;
    }
    #home .background-profile {
        height: 115px;
        width: 100%;
        background: black;
        border-radius: 8px 8px 0 0;
        margin-bottom: 5px;
    }
    #home.main .aside-published {
        width: 60%;
        margin-left: 30px;
    }
    #home.main .box:nth-child(1) {
        margin: 10px auto 50px;
    }
}