*{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    background: #F2F2F2;
    font-family: 'Raleway', sans-serif;
}

a, ul, li{
    text-decoration: none;
    display: inline-block;
}

h1, h2{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
  }

.btn{
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.btn .icon{
    font-size: 35px;
    color: #40330C;
}

.header{
    background: rgb(143, 112, 19);
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.header .btn {
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px 20px;
}

.header .btn .icon{
    color: white;
}

.aside {
    width: 100%;
}

.aside .profile-block .info-persona{
    text-align: start;
    display: flex;
    align-items: center;
    margin: 25px ;
}

.aside .profile-block .info-persona .info-name{
    margin-left: 15px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .box{
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 0.5em #BFACAA;
    width: 100%;
    background: white;
}

.main .share-info{
    padding: 25px 15px;
}

.main .share-info textarea{
    border: none;
    box-shadow: 0 0 0.5em #BFACAA;
    border-radius: 5px;
    background: white;
    padding: 15px;
    width: 100%;
}

.main .share-info .icon-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main .share-info .icon-share .btn:nth-child(2){
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    background: rgba(245, 203, 76, 0.945);
    color: black;
}

.main .published-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .published-content .published-name{
    background-color: rgba(245, 203, 76, 0.795);
    padding: 15px 30px;
    border-radius: 8px 8px 0 0;
    border: none;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
}

.main .published-content .published-comment{
    padding: 15px 0;
}

.main .published-content .icon-reaction{
    background: rgba(245, 203, 76, 0.945);
    width: 100%;
    border-radius: 0 0 8px 8px ;
    padding: 10px 25px;
    width: 100%;
}

